
<!-- Ideas Section -->
<section class="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr class="star-light">
                <h2>
                    <any i18n="common.mainTitle"></any>
                </h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="text-left">
                <h4>
                    <ul rn-carousel rn-carousel-index="carouselIndex2" rn-carousel-auto-slide rn-carousel-pause-on-hover rn-carousel-buffered class="carousel2">
                        <li ng-repeat="idea in getIdeas() track by idea.ideaId">
                            <span class="text">{{ idea.data }}</span><br/>
                            <span class="text">{{ idea.name }}</span><br/>
                            <span class="text">{{ idea.createdTimestamp }}</span><br/>
                        </li>
                    </ul>                
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center"> 
                <a ng-href="#/idea" class="btn btn-lg btn-outline"><any i18n="common.createidea"></any></a>
            </div>
        </div>
    </div>
</section>
